* {
	margin: 0;	
}


.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 13%;
}
.animation-area {
	background: linear-gradient(to left, #beb7be, #777470);
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: inline-flexbox;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgb(197, 194, 194);
	bottom: -200px;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(30deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-1000px) rotate(360deg);
		opacity: 0;
	}
}
